.border-none::after {
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after,
  .border-1px:before {
    -webkit-transform: scaleY(0.75);
    transform: scaleY(0.75);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after,
  .border-1px::before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
body,
html {
  font-weight: 200;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?3fb9ak');
  src: url('../fonts/icomoon.eot?3fb9ak#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3fb9ak') format('truetype'), url('../fonts/icomoon.woff?3fb9ak') format('woff'), url('../fonts/icomoon.svg?3fb9ak#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add_circle:before {
  content: "\e900";
}
.icon-arrow_lift:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-favorite:before {
  content: "\e904";
}
.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-remove_circle_outline:before {
  content: "\e906";
}
.icon-shopping_cart:before {
  content: "\e907";
}
.icon-thumb_down:before {
  content: "\e908";
}
.icon-thumb_up:before {
  content: "\e909";
}
.icon-home2:before {
  content: "\e90a";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-user:before {
  content: "\e971";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-play2:before {
  content: "\ea15";
}
.ratings {
  position: absolute;
  top: 174px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.overview {
  padding: 18px 0;
  overflow: hidden;
}
.overview .overview-left {
  width: 36.8%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  border-right: 1px solid rgba(7, 17, 27, 0.1);
}
.overview .overview-left .score {
  font-size: 24px;
  padding-bottom: 6px;
  color: #ff9900;
  line-height: 28px;
}
.overview .overview-left .title {
  font-size: 12px;
  line-height: 12px;
  color: #07111b;
  padding-bottom: 8px;
}
.overview .overview-left .rank {
  font-size: 10px;
  color: #93999f;
  padding-bottom: 6px;
}
.overview .overview-right {
  width: 63.2%;
  float: right;
  box-sizing: border-box;
  padding: 0 24px;
}
.overview .overview-right .score-wrapper {
  font-size: 0;
  padding-bottom: 8px;
}
.overview .overview-right .score-wrapper .title {
  display: inline-block;
  font-size: 12px;
  color: #07111b;
  line-height: 18px;
}
.overview .overview-right .score-wrapper .star-item {
  vertical-align: top;
  padding: 0 12px;
  height: 18px;
  display: inline-block;
}
.overview .overview-right .score-wrapper .score {
  font-size: 12px;
  line-height: 18px;
  color: #ff9900;
}
.overview .overview-right .delivery-wrapper {
  font-size: 0;
}
.overview .overview-right .delivery-wrapper .title {
  font-size: 12px;
  line-height: 18px;
  padding-right: 12px;
  color: #07111b;
}
.overview .overview-right .delivery-wrapper .delivery {
  font-size: 12px;
  line-height: 18px;
  color: #93999f;
}
.rating-title {
  padding: 18px ;
  position: relative;
}
.rating-title::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
}
.rating-title::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px rgba(7, 17, 27, 0.1) #000;
}
.rating-wrapper {
  padding: 0 18px;
}
.rating-wrapper .rating-item {
  padding: 18px 0;
  position: relative;
}
.rating-wrapper .rating-item::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
}
.rating-wrapper .rating-item::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px rgba(7, 17, 27, 0.1) #000;
}
.rating-wrapper .rating-item .avatar {
  padding-right: 12px;
}
.rating-wrapper .rating-item .avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.rating-wrapper .rating-item .content .user-message {
  padding-bottom: 4px;
  font-size: 10px;
  line-height: 12px;
}
.rating-wrapper .rating-item .content .user-message .name {
  color: #07111b;
  padding-bottom: 4px;
}
.rating-wrapper .rating-item .content .user-message .time {
  color: #93999f;
}
.rating-wrapper .rating-item .content .star-wrapper {
  padding-bottom: 6px;
  font-size: 0;
}
.rating-wrapper .rating-item .content .star-wrapper .star-ratings {
  display: inline-block;
}
.rating-wrapper .rating-item .content .star-wrapper .delivery {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  color: #93999f;
  padding-left: 6px;
  line-height: 12px;
  font-weight: 200;
}
.rating-wrapper .rating-item .content .text {
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  color: #07111b;
  padding-bottom: 8px;
}
.rating-wrapper .rating-item .content .recommend {
  font-size: 0;
}
.rating-wrapper .rating-item .content .recommend .icon-recommend {
  display: inline-block;
  font-size: 12px;
  color: #00a0dc;
  line-height: 16px;
}
.rating-wrapper .rating-item .content .recommend .recommend-text {
  display: inline-block;
  border: 1px solid rgba(7, 17, 27, 0.1);
  padding: 0 6px;
  line-height: 16px;
  margin: 0 0 8px 8px;
  font-size: 9px;
  color: #93999f;
  background: #fff;
  border-radius: 2px;
}
