@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?3fb9ak');
  src: url('../fonts/icomoon.eot?3fb9ak#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3fb9ak') format('truetype'), url('../fonts/icomoon.woff?3fb9ak') format('woff'), url('../fonts/icomoon.svg?3fb9ak#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add_circle:before {
  content: "\e900";
}
.icon-arrow_lift:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-favorite:before {
  content: "\e904";
}
.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-remove_circle_outline:before {
  content: "\e906";
}
.icon-shopping_cart:before {
  content: "\e907";
}
.icon-thumb_down:before {
  content: "\e908";
}
.icon-thumb_up:before {
  content: "\e909";
}
.icon-home2:before {
  content: "\e90a";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-user:before {
  content: "\e971";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-play2:before {
  content: "\ea15";
}
.border-none::after {
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after,
  .border-1px:before {
    -webkit-transform: scaleY(0.75);
    transform: scaleY(0.75);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after,
  .border-1px::before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
body,
html {
  font-weight: 200;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.ratingSelect .ratingType {
  font-size: 0;
  padding-bottom: 18px;
  position: relative;
}
.ratingSelect .ratingType::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
}
.ratingSelect .ratingType::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px rgba(7, 17, 27, 0.1) #000;
}
.ratingSelect .ratingType span {
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  margin-right: 8px;
  border-radius: 2px;
  background-color: rgba(0, 160, 220, 0.2);
  color: #4d555d;
}
.ratingSelect .ratingType span.active {
  background-color: #00a0dc;
  color: #fff;
}
.ratingSelect .ratingType span .count {
  font-size: 8px;
  margin-left: 2px;
}
.ratingSelect .ratingSwitch {
  padding-top: 12px;
  font-size: 0;
}
.ratingSelect .ratingSwitch span {
  display: inline-block;
  line-height: 24px;
  color: #93999f;
}
.ratingSelect .ratingSwitch span:nth-child(1) {
  font-size: 24px;
  color: #93999f;
  margin-right: 4px;
}
.ratingSelect .ratingSwitch span:nth-child(2) {
  vertical-align: top;
  font-size: 12px;
  margin-right: 4px;
}
.ratingSelect .ratingSwitch span.present {
  color: #00c850;
}
