.border-none::after {
  display: none;
}
.line-title {
  display: flex;
  margin: 0 36px 0 36px;
  padding: 30px 0 24px 0;
}
.line-title .line {
  flex: 1;
  top: -6px;
  position: relative;
}
.line-title .line::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.line-title .line::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px rgba(255, 255, 255, 0.2) #000;
}
.line-title .title-text {
  padding: 0 12px;
  font-size: 14px;
  font-weight: 700;
}
