.border-none::after {
  display: none;
}
.goods {
  position: absolute;
  top: 174px;
  bottom: 46px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.goods .menu-wrapper {
  flex: 0 0 80px;
  width: 80px;
  background-color: #f3f5f7;
}
.goods .menu-wrapper li {
  display: table;
  height: 54px;
  line-height: 14px;
  padding: 0 12px;
  font-size: 0;
}
.goods .menu-wrapper li.active {
  position: relative;
  z-index: 10;
  margin-top: -1px;
  background: #fff;
  font-weight: 700;
}
.goods .menu-wrapper li.active .good-text::after {
  display: none;
}
.goods .menu-wrapper li .icon {
  display: inline-block;
  height: 12px;
  width: 12px;
  vertical-align: top;
  background-repeat: no-repeat;
  margin-right: 2px;
  background-size: 12px 12px;
}
.goods .menu-wrapper li .icon.decrease {
  background-repeat: no-repeat;
  background-image: url('../../src/components/iconTip/decrease2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .goods .menu-wrapper li .icon.decrease {
    background-repeat: no-repeat;
    background-image: url('../../src/components/iconTip/decrease3x.png');
  }
}
.goods .menu-wrapper li .icon.discount {
  background-repeat: no-repeat;
  background-image: url('../../src/components/iconTip/discount2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .goods .menu-wrapper li .icon.discount {
    background-repeat: no-repeat;
    background-image: url('../../src/components/iconTip/discount3x.png');
  }
}
.goods .menu-wrapper li .icon.guarantee {
  background-repeat: no-repeat;
  background-image: url('../../src/components/iconTip/guarantee2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .goods .menu-wrapper li .icon.guarantee {
    background-repeat: no-repeat;
    background-image: url('../../src/components/iconTip/guarantee3x.png');
  }
}
.goods .menu-wrapper li .icon.invoice {
  background-repeat: no-repeat;
  background-image: url('../../src/components/iconTip/invoice2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .goods .menu-wrapper li .icon.invoice {
    background-repeat: no-repeat;
    background-image: url('../../src/components/iconTip/invoice3x.png');
  }
}
.goods .menu-wrapper li .icon.special {
  background-repeat: no-repeat;
  background-image: url('../../src/components/iconTip/special2x.png');
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .goods .menu-wrapper li .icon.special {
    background-repeat: no-repeat;
    background-image: url('../../src/components/iconTip/special3x.png');
  }
}
.goods .menu-wrapper li .good-text {
  font-size: 12px;
  display: table-cell;
  width: 56px;
  vertical-align: middle;
  position: relative;
}
.goods .menu-wrapper li .good-text::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
}
.goods .menu-wrapper li .good-text::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px rgba(7, 17, 27, 0.1) #000;
}
.goods .foods-wrapper {
  flex: 1;
}
.goods .foods-wrapper .title {
  padding-left: 14px;
  height: 26px;
  line-height: 26px;
  border-left: 1px solid #d9dde1;
  font-size: 12px;
  color: #93999f;
  background-color: #f3f5f7;
}
.goods .foods-wrapper .foods-item {
  display: flex;
  margin: 0 18px;
  padding: 18px 0 ;
  position: relative;
}
.goods .foods-wrapper .foods-item:last-child {
  padding-bottom: 0;
}
.goods .foods-wrapper .foods-item:last-child::after {
  display: none;
}
.goods .foods-wrapper .foods-item::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
}
.goods .foods-wrapper .foods-item::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px rgba(7, 17, 27, 0.1) #000;
}
.goods .foods-wrapper .foods-item .icon {
  flex: 0 0 57px;
  padding-right: 10px;
}
.goods .foods-wrapper .foods-item .icon img {
  display: block;
  width: 57px;
  height: 57px;
}
.goods .foods-wrapper .foods-item .content {
  flex: 1;
}
.goods .foods-wrapper .foods-item .content .name {
  font-size: 14px;
  color: #07111b;
  line-height: 14px;
  padding: 2px 0 0 0;
}
.goods .foods-wrapper .foods-item .content .desc {
  padding: 8px 0;
  font-size: 10px;
  color: #939c9f;
  line-height: 10px;
}
.goods .foods-wrapper .foods-item .content .extra {
  font-size: 0;
  line-height: 10px;
  color: #939995;
}
.goods .foods-wrapper .foods-item .content .extra .sell {
  display: inline;
  padding-right: 12px;
  font-size: 10px;
}
.goods .foods-wrapper .foods-item .content .extra .comment {
  font-size: 10px;
}
.goods .foods-wrapper .foods-item .content .price {
  font-size: 0;
  line-height: 24px;
  font-weight: 700;
}
.goods .foods-wrapper .foods-item .content .price .newPrice {
  padding-right: 8px;
  font-size: 14px;
  color: #f01414;
}
.goods .foods-wrapper .foods-item .content .price .oldPrice {
  font-size: 10px;
  text-decoration: line-through;
  color: #93999f;
}
.goods .foods-wrapper .foods-item .content .control-wrapper {
  position: absolute;
  right: 0;
  bottom: 12px;
}
