@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?3fb9ak');
  src: url('../fonts/icomoon.eot?3fb9ak#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3fb9ak') format('truetype'), url('../fonts/icomoon.woff?3fb9ak') format('woff'), url('../fonts/icomoon.svg?3fb9ak#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add_circle:before {
  content: "\e900";
}
.icon-arrow_lift:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-favorite:before {
  content: "\e904";
}
.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-remove_circle_outline:before {
  content: "\e906";
}
.icon-shopping_cart:before {
  content: "\e907";
}
.icon-thumb_down:before {
  content: "\e908";
}
.icon-thumb_up:before {
  content: "\e909";
}
.icon-home2:before {
  content: "\e90a";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-user:before {
  content: "\e971";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-play2:before {
  content: "\ea15";
}
.border-none::after {
  display: none;
}
.cart {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 48px;
}
.cart .content {
  display: flex;
  background-color: #141d27;
  height: 100%;
}
.cart .content .content-left {
  flex: 1;
  font-size: 0;
}
.cart .content .content-left .logo-wrapper {
  display: inline-block;
  position: relative;
  top: -10px;
  left: 0;
  margin: 0 12px ;
  padding: 6px;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #141d27;
  vertical-align: top;
}
.cart .content .content-left .logo-wrapper .logo {
  width: 100%;
  height: 100%;
  background-color: #2b343c;
  border-radius: 50%;
  text-align: center;
}
.cart .content .content-left .logo-wrapper .logo .icon-shopping_cart {
  font-size: 24px;
  color: #80858a;
  line-height: 44px;
}
.cart .content .content-left .logo-wrapper .logoActive {
  background-color: #00a0dc;
}
.cart .content .content-left .logo-wrapper .logoActive .icon-shopping_cart {
  color: #fff;
}
.cart .content .content-left .logo-wrapper .foods-num {
  width: 24px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  font-size: 9px;
  font-weight: 700;
  background-color: #f01414;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.cart .content .content-left .price {
  display: inline-block;
  font-size: 16px;
  color: #80858a;
  margin: 12px 0;
  line-height: 24px;
  font-weight: 700;
  padding-right: 24px;
  border-right: 1px solid #80858a;
}
.cart .content .content-left .priceActive {
  color: #fff;
}
.cart .content .content-left .desc {
  display: inline-block;
  padding-left: 12px;
  line-height: 48px;
  font-size: 10px;
  color: #80858a;
}
.cart .content .content-right {
  flex: 0 0 105px;
  width: 105px;
}
.cart .content .content-right .send-basic {
  display: block;
  height: 100%;
  text-align: center;
  background-color: #2b343c;
  line-height: 48px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: 700;
  color: #80858a;
}
.cart .content .content-right .go-pay {
  height: 100%;
  text-align: center;
  line-height: 48px;
  font-weight: 700;
  background-color: #00b43c;
  color: #fff;
}
.cart .ball-container .ball {
  position: fixed;
  left: 32px;
  bottom: 22px;
  z-index: 200;
  transition: all 0.5s cubic-bezier(0.49, -0.29, 0.75, 0.41);
}
.cart .ball-container .ball .inner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00a0dc;
  transition: all .5s linear;
}
.cart .shopping-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  transform: translate3d(0, -100%, 0);
}
.cart .shopping-list.fold-enter-active,
.cart .shopping-list.fold-leave-active {
  transition: all 0.5s;
}
.cart .shopping-list.fold-enter,
.cart .shopping-list.fold-leave-active {
  transform: translate3d(0, 0, 0);
}
.cart .shopping-list .list-header {
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  background: #f3f5f7;
  border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}
.cart .shopping-list .list-header .title {
  float: left;
  font-size: 14px;
  color: #07111b;
}
.cart .shopping-list .list-header .empty {
  float: right;
  font-size: 12px;
  color: #00a0dc;
}
.cart .shopping-list .list-content {
  padding: 0 18px;
  max-height: 217px;
  overflow: hidden;
  background: #fff;
}
.cart .shopping-list .list-content .food {
  height: 48px;
  position: relative;
}
.cart .shopping-list .list-content .food::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
}
.cart .shopping-list .list-content .food::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px rgba(7, 17, 27, 0.1) #000;
}
.cart .shopping-list .list-content .food:last-child {
  border: none;
}
.cart .shopping-list .list-content .food .name {
  float: left;
  line-height: 48px;
  font-size: 14px;
  color: #07111b;
}
.cart .shopping-list .list-content .food .price {
  float: right;
  font-size: 0;
}
.cart .shopping-list .list-content .food .price .total {
  display: inline-block;
  vertical-align: top;
  line-height: 48px;
  font-size: 10px;
  color: #f01414;
  font-weight: 700;
  padding-right: 12px;
}
.cart .shopping-list .list-content .food .price .control {
  display: inline-block;
  padding-top: 3px;
}
.list-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  backdrop-filter: blur(10px);
  opacity: 1;
  background: rgba(7, 17, 27, 0.6);
}
.list-mask.fade-enter-active,
.list-mask.fade-leave-active {
  transition: all 0.5s;
}
.list-mask.fade-enter,
.list-mask.fade-leave-active {
  opacity: 0;
  background: rgba(7, 17, 27, 0);
}
